#
# EXYNOS Soc drivers
#
menuconfig SOC_SAMSUNG
	bool "SAMSUNG SOC drivers support"

if SOC_SAMSUNG
config EXYNOS_CHIPID
	bool "Exynos Chip ID Driver Support"
	depends on ARCH_EXYNOS

config EXYNOS5_SETUP_MIPIPHY
	bool
	depends on (VIDEO_EXYNOS_FIMC_IS || DECON_MIPI_DSI || EXYNOS_MIPI_DSI)
	default y
	help
		Compile in common setup code for MIPI-CSIS devices
	
config EXYNOS5_DYNAMIC_CPU_HOTPLUG
	bool "Dynamic CPU Hotplug support"
	depends on !SOC_EXYNOS7580
	depends on CPU_FREQ
	help
		Enable Dynamic CPU Hotplug

config EXYNOS5_DYNAMIC_CPU_HOTPLUG_SLEEP_PREPARE
        int "Activate number of cores when sleep"
        depends on EXYNOS5_DYNAMIC_CPU_HOTPLUG
        default 1
        help
		When gose to sleep, activate some cores for performace
		during sleep/wakeup sequence.
		This config set the number of activate cores.
		defaut value is "4" to activate all cores in cluster0.

config EXYNOS_HOTPLUG_GOVERNOR
	bool "Enable Exynos dynamic hotplug governor"

config SCHED_HP_EVENT
	bool "Gathers scheduler events to decide hotplug in/out"
	depends on EXYNOS_HOTPLUG_GOVERNOR
	default y

config HP_EVENT_THREAD_GROUP
	bool "Gathres thread group information"
	depends on SCHED_HP_EVENT && SCHED_HMP
	default n

config HP_EVENT_HMP_SYSTEM_LOAD
	bool "Gathres system load information"
	depends on SCHED_HP_EVENT && SCHED_HMP
	default y
endif #SOC_SAMSUNG
