menu "KernelSU"

config KSU
	select SECCOMP
	bool "KernelSU function support"
	default y
	help
	  Enable kernel-level root privileges on Android System.

config KSU_EXTRAS
	bool "Enable custom stuff"
	depends on KSU
	default n
	help
	  Custom extensions. Experimental.
	  Currently, only avc log spoofing is implemented.

config KSU_KPROBES_KSUD
	bool "Enable dynamic kprobes for early boot hooks"
	depends on KPROBES
	default y
	help
	  Use dynamic hooks via kprobes for functions needed only
	  on early boot. Hooks are unregistered at boot complete
	  to reduce overhead.

config KSU_TAMPER_SYSCALL_TABLE
	bool "EXPERIMENTAL: tamper sys_call_table for sucompat + sys_reboot"
	depends on ARM64 && !KSU_KRETPROBES_SUCOMPAT
	default n
	help
	  EXPERIMENTAL: use syscall table hijacking method demonstrated on zx2c4's
	  kernel-assisted-superuser. Replaces sys_reboot, sys_execve, sys_newfstatat,
	  sys_faccessat manual hooks. Tested on Linux 3.10 ~ 4.14, aarch64

config KSU_KRETPROBES_SUCOMPAT
	bool "EXPERIMENTAL: kretprobes for sucompat"
	depends on KRETPROBES
	default n
	help
	  EXPERIMENTAL: Use kretprobes to hook getname_flags, mainly for
	  sucompat. This method will hijack all fs-related syscalls, but
	  thwarts timing based detections.

config KSU_DEBUG
	bool "KernelSU debug mode"
	depends on KSU
	default n
	help
	  Enable KernelSU debug mode.

config KSU_THRONE_TRACKER_ALWAYS_THREADED
	bool "Always run throne tracker in a kthread"
	default y
	help
	  This option forces throne tracker to run in a kthread even on its first
	  run, which happens at boot time / decryption stage. This can decrease
	  boot time, but can cause crowning failure on some FDE/FBEv1 setups.
	  If you are having issues, say n.

config KSU_LSM_SECURITY_HOOKS
	bool "Use LSM security hooks"
        depends on KSU
        default y
	help
	  Disabling this is mostly useful for kernels < 4.2 and > 6.8.
	  Make sure to implement manual hooks on security/security.c.

endmenu
